main {
  margin-top: 76px;
}

.imdb-wrapper .navbar {
}

.imdb-wrapper .search-bar {
  max-width: 400px;
  width: 100%;
}

.imdb-wrapper .navbar-collapse {
  font-size: 14px;
}

.imdb-wrapper button,
.imdb-wrapper input {
  font-size: inherit;
}

.imdb-wrapper .carousel-wrapper {
  overflow: hidden;
}

.imdb.carousel {
  background-image: linear-gradient(to bottom, rgba(23, 23, 15, 0.52), rgba(48, 38, 22, 0.73)),
    url(../assets/mv1_tile_bw.jpg), url(../assets/mv2_tile_bw.jpg), url(../assets/mv3_tile_bw.jpg),
    url(../assets/mv1_tile_bw.jpg), url(../assets/mv2_tile_bw.jpg), url(../assets/mv3_tile_bw.jpg);
  background-size: contain;
  background-position: 0px 0px, 276px 0px, 560px 0px, 845px 0px, 1120px 0px, 1405px 0px;
  background-repeat: no-repeat;
  border-bottom: 4px solid #f7ab06;
}

.imdb .carousel-inner {
  width: 65%;
  margin: 0 auto;
  height: 400px;
  overflow: initial;
}

.imdb .carousel-caption {
  background: #e8b0695c;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: initial;
  padding: 20px;
}

.imdb .carousel-item {
  background-size: cover;
  height: 100%;
}

.imdb .tile img {
  width: 250px;
}

.imdb .carousel-control-prev {
  left: 8%;
}

.imdb .carousel-control-next {
  right: 8%;
}

.slide-1 {
  background-image: linear-gradient(to bottom, rgba(60, 60, 60, 0.52), rgb(37, 38, 37)),
    url("../assets/slide1_banner.jpg");
}
.slide-2 {
  background: linear-gradient(to bottom, rgba(60, 60, 60, 0.52), rgb(37, 38, 37)), url("../assets/slide2_banner.jpg");
}
.slide-3 {
  background: linear-gradient(to bottom, rgba(60, 60, 60, 0.52), rgb(37, 38, 37)), url("../assets/slide3_banner.jpg");
}

.imdb .carousel-caption .tile {
  overflow: hidden;
}

.imdb .carousel-caption .title {
}

.imdb .carousel-caption .year {
}

.imdb .carousel-caption .info {
}

.imdb .carousel-caption .rating-visuals {
}

.imdb .carousel-caption .rating-wrapper {
  display: inline-block;
}

.imdb .carousel-caption .fa.fa-star {
  padding: 3px;
}

.imdb .carousel-caption #rated-value {
  width: 15px;
  display: inline-block;
}

.imdb .carousel-caption .pie {
  width: 100px;
}
.imdb .carousel-caption .thumb-nail img {
  width: 115px;
}
.imdb .pie .percentage {
  font-size: 12px;
  font-weight: bold;
  fill: #f7ab06;
}
.imdb .carousel-caption .meta {
  margin-left: 10px;
  justify-content: center;
}
.imdb .carousel-caption .summary {
}
.imdb .carousel-caption .controls .btn {
  text-transform: uppercase;
  font-size: 10px;
}
.imdb .carousel-caption .controls .dropdown-toggle-split {
  margin-left: 1px;
}

.imdb-wrapper .movies-wrapper {
  width: 80%;
  margin: 10px auto;
}

.imdb-wrapper .movies-wrapper .card {
  height: 300px;
  width: 220px;
}

@media (max-width: 1200px) {
  .imdb-wrapper .search-bar {
    max-width: 300px;
  }
}
@media (max-width: 991px) {
  .imdb-wrapper .search-bar {
    max-width: none;
  }
}

@media (max-width: 768px) {
  .imdb-wrapper .search-bar {
  }
  .imdb .carousel-inner {
    width: 100%;
  }
  .imdb .carousel-control-prev {
    left: 0;
  }

  .imdb .carousel-control-next {
    right: 0;
  }
}

@media (max-width: 576px) {
  .pie-meta.flex {
    flex-direction: column;
  }
  .imdb .carousel-inner {
    height: 450px;
  }
  .imdb-wrapper .movies-wrapper .card {
    width: 100%;
  }
}

@media (max-width: 468px) {
  .imdb.carousel {
    font-size: 14px;
  }
}
